.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.contact__left{
    position: relative;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: .6;
    color: #fff;
    background-image: url("https://images.unsplash.com/photo-1444723121867-7a241cacace9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: center;
}
.contact__right{
    padding: 0px 8vw;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    color: #fff;
    background-color: #080808;
}
.contact__left__top{
    position: relative;
    z-index: 1;
}
.contact__left__bottom{
    position: relative;
    z-index: 1;
}
.contact__address{
    display: flex;
    flex-direction: column;
}
.contact__address h6{
    font-size: 16px;
    color: #d1d1d1;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact__address h5{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin: 0px;
}
.contact__right__top h1, .contact__left__top h1{
    font-size: 3vw;
    font-weight: 400;
}
.contact__left__top p{
    font-size: 20px;
    color: #fff;
}
.Contact__input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.Contact__input label{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.forminput{
    padding: 12px 10px;
    background-color: #fff;
    color: rgb(240, 240, 240) !important;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
}
.forminput::placeholder{
    font-size: 16px;
    color: rgb(129, 129, 129);
}
button{
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: rgb(19, 129, 255);
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .contact{
        flex-direction: column;
        height: auto;
    }
    .contact__left{
        padding: 50px 20px;
    }
    .contact__right{
        padding: 50px 20px;
    }
    .contact__right__top h1, .contact__left__top h1{
        font-size: 32px;
        font-weight: 500;
    }
    .contact__left__top p{
        font-size: 16px;
    }
    .Contact__input label{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}